.container {
  margin: 50px;
}
* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
.heading {
  padding: 10px;
  background-color: gray;
}

.heading h1 {
  text-align: center;
}

.header {
  margin-top: 30px;
  padding: 100px;
  background-color: gray;
}
.header div p {
  text-align: center;
  font-size: 25px;
}

.navigation {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav {
  background-color: gray;
  padding: 20px 80px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}

.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
  column-gap: 50px;
  row-gap: 50px;
}
.cont {
  background-color: gray;
  padding: 30px 0px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  grid-row: 1/-1;
}

.footer {
  margin-top: 30px;
  padding: 10px;
  background-color: gray;
}

.footer p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
